<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772914923853-0g1t49p1ccr24gparusin440c6ppivth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772914923853-0g1t49p1ccr24gparusin440c6ppivth</string>
	<key>API_KEY</key>
	<string>AIzaSyAOAJZi39GG3QgBVIzOO16guFBRIUSo7Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>772914923853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.legnafilloy.MealsApp</string>
	<key>PROJECT_ID</key>
	<string>mealsapp-fb9e5</string>
	<key>STORAGE_BUCKET</key>
	<string>mealsapp-fb9e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772914923853:ios:0549892a2299d16c40cf04</string>
	<key>DATABASE_URL</key>
	<string>https://mealsapp-fb9e5-default-rtdb.firebaseio.com</string>
</dict>
</plist>